---

import { getSupabase } from "../../utils/database";
const supabase = getSupabase();

const { slug } = Astro.params

const { data: game } = await supabase
  .from('games')
  .select('*')
  .eq('slug', slug)
  .single()

if (!game) return Astro.redirect('/404')
---

<html>
  <head><title>{game.title}</title></head>
  <body>
    <h1>{game.title}</h1>
    <p>{game.description}</p>
  </body>
</html>
