SUPABASE_DATABASE_URL=https://bzlwwtatoiyzwirerify.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6bHd3dGF0b2l5endpcmVyaWZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NzU1NzUsImV4cCI6MjA5MDA1MTU3NX0.QfqS2nh-0X3DBxwWcUa6XafJjEBN0qKDKA704LZU3YA
